pandas==2.3.0
mlflow==2.21.2
requests==2.32.3
pylint==3.3.7
ipython==9.3.0
databricks-cli==0.253.0
cloudpickle==3.1.1
databricks-automl-runtime==0.2.5.1
holidays==0.74
koalas==1.8.2
psutil==7.0.1
scikit-learn==1.7.0
typing-extensions==4.14.0
xgboost==3.0.2
uvicorn[standard]==0.34.3
fastapi==0.115.12
pydantic==2.3.5
click==8.1.7
boto3==1.28.30
cffi==1.16.0
configparser==5.4.0
dill==0.3.7
fsspec==2025.5.1
keras==2.12.0
pillow==10.2.0
scipy==1.11.1
tensorflow==2.13.0

